{
    local_certs
}

http://local.wg {
    file_server browse {
        root /element/element-v1.9.9
    }
}

http://matrix.local.wg {
    reverse_proxy localhost:8008
}

http://local.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10001
}

http://roaming.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10002
}

http://*.local {
    file_server browse {
        root /wireguard
    }
}

:443 {
    tls internal {
        on_demand
    }
}

peertube.wg {
    reverse_proxy localhost:9000
}