{
    local_certs
    auto_https disable_redirects
}

http://*.local {
    file_server browse {
        root /
    }
}

http://localhost {
    file_server browse {
        root /wireguard
    }  
}

http://*.cacert {
    file_server browse {
        root /data/caddy/pki/authorities/local/
    }
}

http://local.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10001
}

http://roaming.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10002
}

pleroma.wg {
    reverse_proxy localhost:4000 {
        header_up Host {upstream_hostport}
    }
}

:443 {
    tls internal
}
