{
    local_certs
    auto_https disable_redirects
}

http://local.wg {
    file_server browse {
        root /element/element-v1.9.9
    }
}

http://*.local, https://*.local {
    file_server browse {
        root /wireguard
    }  
}

http://*.cacert {
    file_server browse {
        root /data/caddy/pki/authorities/local/
    }
}

http://matrix.local.wg {
    reverse_proxy localhost:8008
}

http://local.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10001
}

http://roaming.dns {
    rewrite * /admin{uri}
    reverse_proxy localhost:10002
}

*.peertube.wg {
    reverse_proxy localhost:9000
}

:443 {
    tls internal
}
